body {
    background-color: lightskyblue
}

* {
padding: 1.5%;
}

.parent{
    background-color: lightgoldenrodyellow
}

.child1{
    background-color:lightpink
}
.child2{
    background-color: lightsalmon
}
.child3{
    background-color:salmon
}



