@font-face {
    font-family: "everett-light";
    src: url("assets/fonts/everett-light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

header{
    display: flex;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 20px;
    font-family: "everett-light";
    src: url("assets/fonts/everett-light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    color:rgba(0, 71, 255, 1)
  }

  body{
    background-color:rgba(235, 235, 235, 1)
    }

  main{

  }
/* Base styles */
a {
  color:rgba(0, 71, 255, 1)
}

/* Components */

/* Footer */

footer {
  position: absolute;
  bottom: 0;
  font-family: "everett-light";
  src: url("assets/fonts/everett-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.footer {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
}

.footer ul {
  width: 30vw;

  display: flex;
  justify-content: space-evenly;
}

